# -----不太用得上的功能
# FreeSimpleGUI
# resampy
# praat-parselmouth
# pyworld
# -----不太用得上的功能
librosa
matplotlib
numpy
PyYAML
scikit_learn
scipy
sounddevice
soundfile
tensorboard
torch
torchcrepe
tqdm
transformers
# torchfcpe
